<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.secure.exammaterial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_square"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_circular"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".civil_main.civil_main_2019"></activity>
        <activity android:name=".upsc.civil_main" />
        <activity android:name=".ies.ies_2020" />
        <activity android:name=".ies.ies_2019" />
        <activity android:name=".ies.ies_2018" />
        <activity android:name=".ies.ies_2017" />
        <activity android:name=".ies.ies_2016" />
        <activity android:name=".ies.ies_2015" />
        <activity android:name=".ies.ies_2014" />
        <activity android:name=".cgs.cgs_2020" />
        <activity android:name=".cgs.cgs_2019" />
        <activity android:name=".cgs.cgs_2018" />
        <activity android:name=".cgs.cgs_2017" />
        <activity android:name=".cgs.cgs_2016" />
        <activity android:name=".cgs.cgs_2015" />
        <activity android:name=".cgs.cgs_2014" />
        <activity android:name=".upsc.ies_category" />
        <activity android:name=".upsc.cgs_category" />
        <activity android:name=".upsc.cms" />
        <activity android:name=".upsc.cisf" />
        <activity android:name=".upsc.cds" />
        <activity android:name=".upsc.nda_nae" />
        <activity android:name=".upsc.civil_pre" />
        <activity android:name=".offline" />
        <activity android:name=".pdf_viewer" />
        <activity android:name=".category.IitJeeAdvancedCategoryActivity" />
        <activity android:name=".category.other_category" />
        <activity android:name=".category.gate_category" />
        <activity android:name=".category.upsc_category" />
        <activity android:name=".category.neet_category" />
        <activity android:name=".category.cat_category" />
        <activity android:name=".category.iit_jee_category" />
        <activity android:name=".wrong_username_or_password" />
        <activity android:name=".something_went_wrong" />
        <activity android:name=".home" />
        <activity android:name=".signup" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>