<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.secure.exammaterial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_square"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_circular"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".upsc.nda_nae"></activity>
        <activity android:name=".upsc.civil_pre" />
        <activity android:name=".offline" />
        <activity android:name=".pdf_viewer" />
        <activity android:name=".category.IitJeeAdvancedCategoryActivity" />
        <activity android:name=".category.other_category" />
        <activity android:name=".category.pmp_itil_category" />
        <activity android:name=".category.cmat_nda_cet_gpat_sat_category" />
        <activity android:name=".category.gate_category" />
        <activity android:name=".category.upsc_category" />
        <activity android:name=".category.toefl_category" />
        <activity android:name=".category.neet_category" />
        <activity android:name=".category.ielts_category" />
        <activity android:name=".category.cat_category" />
        <activity android:name=".category.iit_jee_category" />
        <activity android:name=".wrong_username_or_password" />
        <activity android:name=".something_went_wrong" />
        <activity android:name=".home" />
        <activity android:name=".signup" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>